<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key><string>Don't Miss</string>
    <key>CFBundleDisplayName</key><string>Don't Miss</string>
    <key>CFBundleIdentifier</key><string>dev.wouter.dontmiss</string>
    <key>CFBundleExecutable</key><string>DontMiss</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleIconFile</key><string>AppIcon</string>
    <key>CFBundleShortVersionString</key><string>0.1.5</string>
    <key>CFBundleVersion</key><string>0.1.5</string>
    <key>LSMinimumSystemVersion</key><string>14.0</string>
    <key>LSUIElement</key><true/>
    <key>NSHighResolutionCapable</key><true/>
    <key>LSApplicationCategoryType</key><string>public.app-category.productivity</string>
    <key>SUFeedURL</key><string>https://github.com/wouterdebie/dontmiss/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key><string>sQaiI9b/3VZCmzwNNRBCsDHm7uZ09UwG8ZdgtcVQkNQ=</string>
    <key>SUEnableAutomaticChecks</key><true/>
    <key>SUAllowsAutomaticUpdates</key><false/>
    <key>SUAutomaticallyUpdate</key><false/>
    <key>SUSendProfileInfo</key><false/>
    <key>SUScheduledCheckInterval</key><integer>86400</integer>
    <key>SUVerifyUpdateBeforeExtraction</key><true/>
    <key>SURequireSignedFeed</key><true/>
</dict>
</plist>
